#main{
    background-color: #eee;
    text-align: center;
    padding: 2rem 1rem 0.5rem 1rem;
    margin: 1.5rem 0;
}

header{
    margin: 2rem 1rem 1rem 1rem;
}

#img-div{
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
}